.myname {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
}

#about {
  background-color: rgb(34, 32, 30);
}

.col-sm-6{
  background-color: rgb(112, 105, 105);
}

.img-fluid {
  margin-top: 25px;
}

.about-info {
  margin-top: 65px;
}

#span1 {
  color: rgb(214, 207, 207);
}

span{
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
}

.title-left {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
  margin-left: 20px;
}

.lead {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    margin-left: 20px;
}

.title-s {
  font-family: "Inria Serif", serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 20px;
}

.title-a {
  margin-top: 80px;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: rgb(112, 105, 105);
  margin: 0 auto;
}

.work-content {
  background-color: rgb(214, 207, 207);
}



#u{
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  overflow: hidden;
  border-right: 15em ;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to{
    border-color: transparent
  }
}